VIRTWHO_BACKGROUND=1
VIRTWHO_DEBUG=0
VIRTWHO_SATELLITE6=1
VIRTWHO_ESX=1
VIRTWHO_ESX_OWNER="{{ organization }}"
VIRTWHO_ESX_SERVER="{{ server }}"
VIRTWHO_ESX_USERNAME="{{ username }}"
VIRTWHO_ESX_PASSWORD="{{ password }}"
VIRTWHO_ESX_ENV="{{ lifecycle_environment }}"
